.container {
    /* background-color: #f7f7f8; */
    margin-top: 50px;
    margin-left: 240px;
    margin-bottom: 61px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

.header {
    width: auto;
    padding: 30px;
    margin-bottom: 0;
}

.header p {
    font-size: 23.1px;
}

.categories {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin: 0 30px;
}

.recommended {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.recommended_games {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 10px;
}

.gaming {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    height: fit-content;
}

.channels {
    display: flex;
    gap: 10px;
    min-width: 100%;
    overflow: hidden;
    justify-content: stretch;
    flex-wrap: wrap;
}

.showMore {
    color: #5C16C5;
}

.lowest {
    padding-bottom: 100px;
}