header {
    height: 50px;
    width: 100%;
    background-color: white;
    /* border-bottom: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 2px 
        rgba(0, 0, 0, 0.13), 0 0px 2px 
        rgba(0, 0, 0, 0.08);
    z-index: 12;
}

.section_first {
    display: flex;
    height: 100%;
    gap: 20px;
}

.section_second {
    display: flex;
}

.search_icon {
    width: 34px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 173, 184, 0.22);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search_icon img {
    width: 19px;
    height: 19px;
}

.section_third {
    display: flex;
    gap: 10px;
    padding-right: 10px;
    font-size: 13px;
}

.icon_twitch {
    width: 24px;
    height: 28px;
}

.icon_twitch_container {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse_container {
    display: flex;
    align-items: center;
    color: #0e0e10;
    font-size: 18px;
    height: 100%;
    font-weight: 700;
}

.browse_container p {
    height: 100%;
    display: flex;
    align-items: center;
    color: #5c16c5;
    border-bottom: 2px purple solid;
    font-weight: 600;
}

.more_container {
    height: 100%;
    display: flex;
    align-items: center;
}

.buttons_sign_in {
    display: flex;
    gap: 10px;
}

.button_log_in {
    background-color: ADADB8;
    color: black;
    height: 30px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
}

.button_sign_up {
    background-color: #9147FF;
    color: white;
    height: 30px;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 500;
}

.button_notification {
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
}

.button_profile {
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
}

#site_search {
    height: 36px;
    width: 356px;
    padding-left: 10px;
    color: black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid rgb(134, 134, 134);
}